= form_for release, url: admin_release_path(release.id) do |f|
  .input
    = f.label :title
    = f.text_field :title

  .input
    = f.label :artist
    = f.text_field :artist

  .input
    = f.label :catalog_number
    = f.text_field :catalog_number

  .input
    = f.label :cover_src
    = f.text_field :cover_src

  .input
    = f.label :cover_thumbnail_src
    = f.text_field :cover_thumbnail_src

  .input
    = f.label :large_cover_src
    = f.text_field :large_cover_src

  .input
    = f.label :release_date
    = f.text_field :release_date

  .input
    = f.label :juno_link
    = f.text_field :juno_link

  .input
    = f.label :itunes_link
    = f.text_field :itunes_link

  .input
    = f.label :beatport_link
    = f.text_field :beatport_link

  .input
    = f.label :bandcamp_link
    = f.text_field :bandcamp_link

  .input
    = f.label :description
    = f.text_area :description

  = f.submit
