= form_for news_item, url: admin_news_item_path(news_item.id) do |f|
  .input
    = f.label :title
    = f.text_field :title

  .input
    = f.label :date_text
    = f.text_field :date_text

  .input
    = f.label :featured_image
    = f.text_field :featured_image

  .input
    = f.label :content
    = f.text_area :content

  = f.submit
