!!!
%html
  %head
    %title Terra Null Recordings
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = favicon_link_tag asset_path 'terra_null_logo_favicon.ico'
    = csrf_meta_tags
  %body
    = yield
